.button{
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
#loginButton:hover{
    -fx-background-color:#DAA520;
    -fx-text-fill:#00FFFF;
}
#guestButton:hover{
    -fx-background-color:#228B22;
    -fx-text-fill:#00FFFF;
}
#signupButton:hover{
    -fx-text-fill:#00FFFF;
}